:host ::ng-deep header {
    padding: 0px 20px 0px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 0px;
    display: flex;
    margin: 0px;
    align-items: center;
    font-weight: bold;
}

.control-input {
    padding-right: 10px;
}

span {
    font-family: auto;
}

.close-button {
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin: -3px auto 2px 0px;
    border: 0px;
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
}


/* .close-button:focus,
.close-button:hover {
background-color: rgb(255 0 0 / 61%);
color: white;
} */

.close-button:hover {
    border: 0px;
}

.close-button:active {
    border: 0px;
    box-shadow: none;
    border: 1px solid rgb(229, 255, 0);
}

.close-button:focus {
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    margin: -3px auto 2px 0px;
    border: 0px;
}

.CloseComponent {
    position: absolute;
    right: 100px;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr {
    /* Target all tr within the thead */
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
    /* Ensure it's on top */
    background-color: #fff !important;
    /* Maintain background on scroll */
}

:host ::ng-deep .p-datatable-thead th {
    text-align: right !important;
    color: #30688b !important;
    background-image: linear-gradient(to bottom, #fff 0, #e9e9e9 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false) !important;
    border: 1px solid #b9b9b9 !important;
    height: 29px !important;
    padding: 0px 5px 0px 10px !important;
    box-shadow: 4px -8px 20px 0px rgb(179 179 179 / 36%);
    font-family: auto;
    border-radius: 3px;
    font-size: 13px !important;
    font-weight: bold !important;
    /* position: sticky;
    top: 0; 
    z-index: 1;  */
}

:host ::ng-deep .p-datatable-thead>tr.filter-row {
    background-color: #f5f5f5;
    /* Example */
}

:host ::ng-deep th {
    border: 1px solid white;
}

:host ::ng-deep .p-datatable-tbody td {
    text-align: right !important;
    border: 1px solid #bfbfbf !important;
    border-width: 1px 1px 1px 1px !important;
    padding: 2px 5px 0px !important;
    font-size: 15px !important;
    height: 25px !important;
    font-family: auto;
}


/* :host ::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
background: #d1d1d1 !important;
color: #495057 !important;
font-weight: bold !important;
}
*/

:host ::ng-deep .mat-row,
tr.mat-footer-row {
    height: 25px !important;
}

:host ::ng-deep .act-col {
    text-align: center !important;
    border: 1px solid #bfbfbf !important;
    padding-left: 10px !important;
    width: 68px;
    text-align-last: center;
}

:host ::ng-deep .recherche {
    width: auto;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #9595957a;
    padding: 5px 1px 0px 10px;
    position: relative !important;
    bottom: 15px !important;
    display: flex;
}

:host ::ng-deep .label-recherche {
    font-family: auto;
    font-size: 14px;
    padding: 5px 0px 0px 0px;
}

:host ::ng-deep .recherche_art {
    width: 463px;
    border-radius: 5px;
    border: 1px solid rgba(149, 149, 149, 0.4784313725);
    padding: 5px 0px 1px 1px;
    position: relative !important;
    bottom: 5px !important;
    display: flex;
}

.Bouton-rechercher-art {
    margin-right: 30px;
    display: flex;
    height: 34px;
    /* padding: 5px 15px 0px; */
    margin-bottom: 3px;
    border: 1px solid #adadad;
}

.recherche-zone {
    display: contents;
}

.Bouton-rechercher {
    margin-right: 5px;
    display: flex;
    height: 30px;
    width: 115px;
    padding: 3px 6px 0px;
    margin-bottom: 3px;
    border: 1px solid #adadad;
}


/* //////////////////////////////////////// */

:host ::ng-deep .recherche-value {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    font-family: auto;
    font-size: 15px;
    padding: 5px 10px 5px 5px;
    margin: 0px 15px 0px 10px;
}

:host ::ng-deep .recherche-value-tab {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    font-family: auto;
    font-size: 15px;
}


/* /////// modal */

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
}

.employee-form {
    background-color: white;
    width: 600px;
    padding: 20px 50px;
    border-radius: 5px;
}

.form-control {
    width: 90%;
}

.action {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 5px;
    /* width: 1050px; */
}

.modal-header {
    margin: -16px;
}


/* table postion */

:host ::ng-deep .p-datatable-wrapper {
    margin: 0px 0px 0px 0px;
    /* border: 1px solid #cbcbcb78; */
    /* border-radius: 6px; */
}


/* /// button ajout et modif et suppri  */

.Bouton-add-new1 {
    margin-right: 5px;
    display: flex;
    height: 30px;
    /* width: 70px; */
    padding: 0px 7px 0px 5px;
    margin-bottom: 3px;
    border: 1px solid #adadad;
    align-items: center;
    background: white;
}

.Bouton-add-new2 {
    margin-right: 5px;
    display: flex;
    height: 30px;
    /* width: 70px; */
    padding: 0px 7px 0px 5px;
    margin-bottom: 3px;
    align-items: center;
    border: 1px solid #adadad;
    background: white;
}

.Bouton_new3 {
    margin-right: 5px;
    display: flex;
    height: 55px;
    width: 130px;
    padding: 3px 3px 0px 5px;
    margin-bottom: 3px;
    border: 1px solid #adadad;
    align-items: center;
    flex-direction: column;
    background: white;
}

.Bouton_new3Rechercher {
    margin-right: 5px;
    display: flex;
    height: 35px;
    width: 130px;
    padding: 3px 5px 0px 5px;
    margin-bottom: 3px;
    border: 1px solid #adadad;
    align-items: center;
    flex-direction: row;
}

.Bouton-add-new-other {
    margin-right: 5px;
    display: flex;
    height: 30px;
    width: 75px;
    padding: 3px 7px 0px 5px;
    margin-bottom: 3px;
    border: 1px solid #adadad
}

.bouton_style-2 {
    font-size: 15px;
    font-family: auto;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.dropbtn {
    margin-right: 5px;
    display: flex;
    height: 30px;
    width: 75px;
    padding: 3px 7px 0px 5px;
    margin-bottom: 3px;
}

:host ::ng-deep .ActionBtn {
    width: auto;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #9595957a;
    padding: 5px 1px 0px 10px;
    position: relative !important;
    bottom: 15px !important;
    display: flex;
    float: right;
}

:host ::ng-deep .p-dialog-content {
    overflow-y: inherit;
    flex-grow: inherit;
}

:host ::ng-deep .p-dialog-title {
    display: none;
}

:host ::ng-deep .p-dialog-titlebar-close {
    display: none;
}

:host ::ng-deep .p-dialog-footer {
    display: block;
}

:host ::ng-deep .p-dialog-header-close-icon {
    display: none;
}

:host ::ng-deep .p-dialog .p-dialog-header-icons {
    display: none;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #f8f9fa;
    color: #343a40;
    padding: 0.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #e3e3e3;
}

:host ::ng-deep .ModalAddSmall {
    border-radius: 6px;
    width: 700px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 580px;
    position: fixed;
    top: 50px !important;
    bottom: 100px !important;
}

:host ::ng-deep .ModalEdition {
    border-radius: 6px;
    width: 800px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 266px !important;
    position: fixed;
    top: 50px !important;
    bottom: 100px !important;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    border-top: 1px solid #e9ecef;
    background: #f8f9fa;
    color: #212529;
    padding: 1rem;
    text-align: right;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 60px;
}

:host ::ng-deep .ModalAddOrder {
    border-radius: 6px;
    width: 900px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 50px !important;
    bottom: 100px !important;
}

:host ::ng-deep .ModalPrint {
    border-radius: 6px;
    width: 1100px;
    font-family: auto;
    margin-top: 90px;
    overflow-x: hidden;
}

.sidebar.open+.mainbox {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head" "left  main" "left  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 120px 1fr 0px;
    grid-gap: 5px;
    height: 100vh;
    margin: 0px;
    font-size: 15px;
    overflow-y: scroll !important;
}

:host ::ng-deep .mainbox {
    display: grid;
    width: 100%;
    grid-template-areas: "head head" "left  main" "left  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 70px 1fr 0px;
    grid-gap: 5px;
    margin: 0px;
    font-size: 15px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    height: 60px;
}

:host ::ng-deep label input[type=radio].radiobox+span:before {
    background: 0 0;
    border-color: #888;
    box-shadow: none;
}

label input[type=radio].radiobox:checked+span:before {
    content: "\f111";
    color: #66665e;
    border-color: #1293b8;
}

label input[type=radio].radiobox,
checked+span {
    font-weight: 400;
}

label:hover input[type=radio].radiobox+span:before {
    border-color: #1293b8;
}

label:hover input[type=radio].radiobox:checked+span:before {
    border-color: #888;
    color: #66665e;
}

input[type=number] {
    text-align: right;
}

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
    font: auto;
    letter-spacing: -0.016rem;
    margin: 0 0 .5em;
}

.uneditable-input:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-control,
.input-lg,
.input-sm,
.input-xs {
    border-radius: 6px !important;
}

.input-xs {
    height: 25px;
    /* padding: 2px 10px; */
    font-size: 15px;
    line-height: 1.5;
    width: 430px;
}

:host ::ng-deep label input[type=radio].radiobox+span:before {
    content: "\a0";
    border-radius: 50%;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 rgba(255, 255, 255, .2);
}

:host ::ng-deep label input[type=radio].radiobox:checked+span {
    font-weight: 700;
}

:host ::ng-deep label input[type=radio].radiobox:checked+span:before {
    content: "\f111";
    color: #2E7BCC;
}

:host ::ng-deep label input[type=radio].radiobox.style-3:checked+span:before {
    color: #a90329;
    border-color: #a90329;
}

:host ::ng-deep :host ::ng-deep label input[type=radio].radiobox.style-2:checked+span:before {
    color: #66665e;
    border-color: #4d90fe;
    font-size: 9px;
}

:host ::ng-deep label input[type=radio].radiobox.style-2:checked+span {
    font-weight: 400;
}

:host ::ng-deep label input[type=radio].radiobox.style-1+span:before {
    font-size: 9px;
    background: #fff;
    text-shadow: none;
    box-shadow: none !important;
    border-width: 1px;
    height: 13px;
    line-height: 13px;
    min-width: 13px;
}

:host ::ng-deep label input[type=radio].radiobox.style-1:checked+span:before {
    font-size: 10px;
    color: #333;
    border-color: #333;
    background: #fff;
}

label input[type=radio].radiobox.style-1:checked+span {
    font-weight: 400;
}

label:hover input[type=radio].radiobox+span:before,
label:hover input[type=radio].radiobox:checked+span:before {
    color: #2E7BCC;
    border-color: #2E7BCC;
}

label:hover input[type=radio].radiobox.style-3+span:before,
label:hover input[type=radio].radiobox.style-3:checked+span:before {
    color: #a90329;
    border-color: #a90329;
}

label:hover input[type=radio].radiobox.style-2:checked+span:before {
    color: #66665e;
    border-color: #4d90fe;
}

label:hover input[type=radio].radiobox.style-1+span:before,
label:hover input[type=radio].radiobox.style-1:checked+span:before {
    color: #333;
    border-color: #333;
    background: #fff;
}

label:active input[type=radio].radiobox+span:before {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .4);
}

label input[type=radio][disabled].radiobox+span,
label input[type=radio][disabled].radiobox:checked+span,
label:hover input[type=radio][disabled].radiobox:checked+span:before {
    color: #A7A7A7;
    cursor: not-allowed;
}

label input[type=radio][disabled].radiobox:checked+span:before {
    content: "\f111"
}

label input[type=radio][disabled].radiobox+span:before,
label input[type=radio][disabled].radiobox:checked+span:before,
label:active input[type=radio][disabled].radiobox:checked+span:before,
label:hover input[type=radio][disabled].radiobox:checked+span:before {
    background: #eee !important;
    border-color: #CCC !important;
    box-shadow: none;
    color: #A7A7A7;
}

:host ::ng-deep .style td input {
    text-align: right !important;
    border: 1px solid #bfbfbf !important;
    border-width: 1px 1px 1px 1px !important;
    padding: 2px 5px 0px !important;
    font-size: 12px !important;
    height: 25px !important;
}

:host ::ng-deep a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
embed,
object {
    outline: 0;
}

:host ::ng-deep :focus {
    outline: 0 !important;
}

:host ::ng-deep .form-control-dev {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    -webkit-border-radius: 0;
    display: block;
    width: calc(100% - 2px);
    height: 24px;
    padding-left: 0;
    padding-right: 5px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px #c2cad8;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}

:host ::ng-deep .form-control-dev:focus {
    border-color: #1293b8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

:host ::ng-deep .form-control-dev[disabled],
.form-control-dev[readonly],
fieldset[disabled] .form-control-dev {
    cursor: not-allowed;
    background-color: #fff;
    opacity: 1;
}

:host ::ng-deep .form-control-dev {
    height: 24px;
    line-height: 24px;
}

:host ::ng-deep textarea.form-control-dev {
    height: auto;
}

:host ::ng-deep .control-label-titer {
    /* text-align: right !important; */
    padding-top: 5px;
    font-size: 15px;
    color: black;
    padding-right: 5px;
    padding-left: 0px;
    font-family: auto;
}

:host ::ng-deep .control-label {
    font-weight: 400;
    padding-top: 10px;
    font-size: 15px;
    color: black;
    padding-right: 5px;
    padding-left: 0px;
    float: right;
    font-family: auto;
}

:host ::ng-deep .dop {
    padding: 5px 0px 5px 5px;
}

:host ::ng-deep .p-dialog .p-dialog-content:last-of-type {
    overflow: auto !important;
    height: 100%;
    overflow-x: hidden !important;
}

:host ::ng-deep h2.text-center.text {
    position: relative;
    left: 200px;
    color: #000;
    font-size: 23px !important;
}

:host ::ng-deep h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: auto;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    color: black;
    float: inline-start;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

textarea {
    resize: none;
    width: calc(100% - -400px);
    margin: auto;
    font-size: 15px;
    font-family: auto;
    border: 1px solid #d9d1d1;
    border-radius: 3px;
}


/* .flex-1 {
    flex: 1;
    width: 8.33%;
    text-align: right;
}



.flex-60 {
    text-align: right;
    max-width: 60%;
}

.flex-80 {
    text-align: right;
    max-width: 80%;
}

.flex-20 {
    text-align: right;
    max-width: 20%;
}

.flex-3 {
    flex: 3;
    max-width: 25%;
    text-align: right;
}

.flex-4 {
    flex: 4;
    max-width: 33.33%;
    text-align: right;
}

.flex-4-38 {
    flex: 4;
    max-width: 38.33%;
    text-align: right;
}

.flex-5 {
    flex: 5;
    max-width: 41.67%;
    text-align: right;
}

.flex-5-45 {
    flex: 5;
    max-width: 45.67%;
    text-align: right;
}


/* .flex-6 {
    flex: 6;
    max-width: 50%;
    padding: 6px 5px 5px;
    text-align: right;
} */


/* .flex-6-6 {
    flex: 6;
    max-width: 50%;
    padding: 3px 4px 2px;
    text-align: right;
    display: flex;
}

.flex-7 {
    flex: 7;
    text-align: right;
    max-width: 53.33%;
}

.flex-7-7 {
    flex: 7;
    text-align: right;
    max-width: 53.33%;
    padding-right: 20px;
    display: flex;
}


 

.flex-9 {
    flex: 9;
    max-width: 75%;
    text-align: right;
}

.flex-10 {
    flex: 10;
    max-width: 83.33%;
    text-align: right;
}

.flex-11 {
    flex: 11;
    max-width: 91.67%;
    text-align: right;
}

.flex-12 {
    flex: 12;
    max-width: 100%;
    text-align: right;
}  */

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    /* padding-top: 5px; */
}

.block-row {
    display: block;
    text-align: right;
    padding-top: 5px;
    /* margin: 0px 0px 5px 0px; */
    padding-right: 5px;
    /* border-radius: 4px 4px; */
    border-right: 0px;
    border-left: 1px solid #d9d1d1;
    border-top: 1px solid #d9d1d1;
    border-bottom: 1px solid #d9d1d1;
}

fieldset {
    border: 1px solid #d9d1d1;
    margin: 0px 5px 5px 0px;
    border-radius: 6px;
}

.form-control-dev[disabled],
.form-control-dev[readonly],
fieldset[disabled] .form-control-dev {
    cursor: not-allowed;
    background-color: #fff;
    opacity: 1;
}

.modal-body {
    position: relative;
    padding: 0px;
}

button.btn.btn-danger.cancel-voir {
    position: relative;
    right: 290px;
    font-size: 15px;
    direction: ltr;
    border: 1px solid gray;
    font-weight: bold;
}

.deleteForm {
    border: 1px solid #d9d1d1;
    margin-top: 30px;
}


/* 
.cancel-add-ModalLarge {
    position: fixed;
    right: 1045px;
    float: inline-end;
    font-size: 15px;
    direction: ltr;
    font-weight: 500;
    height: 30px;
    margin: 5px 8px 5px 10px;
    border: 1px solid #adadad;
    width: 70px;
    font-weight: bold;
} */


/* 
.save-add-ModalLarge {
    position: fixed;
    right: 1140px;
    float: inline-end;
    font-size: 15px;
    direction: ltr;
    height: 30px;
    font-weight: 500;
    margin: 5px 8px 5px 10px;
    border: 1px solid #adadad;
    width: 90px;
    font-weight: bold;
} */

.cancel-add-ModalSmall {
    /* position: fixed;
    right: 700px; */
    font-size: 13px;
    direction: ltr;
    /* height: 30px; */
    border: 1px solid #adadad;
    /* width: 90px; */
    font-weight: bold;
}

.cancel-add-ModalSmall:hover {
    background-color: #A90327 !important;
    color: white !important;
}

.save-add-ModalSmall {
    font-size: 13px;
    direction: ltr;
    border: 1px solid #adadad;
    font-weight: bold;
    margin-left: 5px;
}

.BtnVisibleAll {
    font-size: 13px;
    direction: ltr;
    border: 1px solid #adadad;
    font-weight: bold;
    margin-left: 5px;
    height: 30px;
    margin-top: 7px;
    width: 170px;
    padding-top: 2px;
}

.save-add-ModalSmall:hover {
    background-color: darkgreen !important;
    color: white !important;
}

.save-add-ModalSmall:hover .IconBtnModal {
    color: white !important;
}

.cancel-add-ModalSmall:hover .IconBtnModal {
    color: white !important;
}


/* ///modall XXL  */

.cancel-add-ModalSmallXXL {
    /* position: fixed;
    right: 1150px; */
    font-size: 13px;
    direction: ltr;
    border: 1px solid #adadad;
    font-weight: bold;
}

.cancel-add-ModalSmallXXL:hover {
    background-color: #A90327 !important;
    color: white !important;
}

.save-add-ModalSmallXXL {
    margin-left: 10px;
    font-size: 13px;
    direction: ltr;
    border: 1px solid #adadad;
    font-weight: bold;
}

.save-add-ModalSmallXXL:hover {
    background-color: darkgreen !important;
    color: white !important;
}

.save-add-ModalSmallXXL:hover .IconBtnModal {
    color: white !important;
}

.cancel-add-ModalSmallXXL:hover .IconBtnModal {
    color: white !important;
}


/* /// fin modal XXL  */

.cancel-add-ModalSmalls {
    position: fixed;
    height: 30px;
    right: 310px;
    font-size: 15px;
    direction: ltr;
    font-weight: 500;
    border: 1px solid #adadad;
    width: 90px;
    font-weight: bold;
}

.BtnCloseAdmissionPatient {
    position: fixed;
    right: 1020px;
    font-size: 13px;
    direction: ltr;
    /* height: 30px; */
    border: 1px solid #adadad;
    margin-left: 5px;
    font-weight: bold;
}

.save-add-ModalSmalls {
    position: fixed;
    right: 230px;
    font-size: 13px;
    direction: ltr;
    height: 30px;
    border: 1px solid #adadad;
    width: 70px;
    font-weight: bold;
}

.close-ModalPrint {
    position: relative;
    height: 30px;
    left: 365px;
    font-size: 13px;
    direction: ltr;
    font-weight: 500;
    width: 70px;
}

.print-ModalPrint {
    position: absolute;
    right: 805px;
    font-size: 13px;
    direction: ltr;
    height: 30px;
    border: 1px solid #adadad;
    width: 70px;
    font-weight: bold;
}

.excel-ModalPrint {
    position: absolute;
    height: 30px;
    right: 895px;
    font-size: 15px;
    direction: ltr;
    font-weight: 500;
    border: 1px solid #adadad;
    width: 70px;
    font-weight: bold;
}

.headerForm {
    padding: 0px 20px 0px 15px;
    font-family: auto;
    font-size: 20px;
}

.text-delete {
    margin-right: 8px;
    padding: 0px 0px 20px 10px;
}

.btn-action {
    position: relative;
    left: 5px;
}

.IconFermer {
    color: red;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}

.IconReinitialiser {
    color: #00539f;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.IconSearch {
    color: #00539f;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.IconSave {
    color: #177a17;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px !important;
    ;
}


/* .IconSave {
color: #177a17;
font-size: 18px;
padding-right: 5px;
font-weight: bold;
}
*/

.iconExcel {
    color: #00b100;
    font-size: 16px;
    margin-right: 10px;
}

.iconPDF {
    font-size: 17px;
    color: #1b1a7f;
    margin-right: 10px;
}


/* //checkbox style  */

:host ::ng-deep label.p-checkbox-label {
    font-weight: 400;
    font-size: 13px;
    color: black;
    padding: 3px 15px 0px 0px;
    cursor: pointer;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #363636;
    background: #ffffff;
}

:host ::ng-deep .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #3B82F6;
    font-size: 14px;
    font-weight: bold;
}

:host ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #0062cc;
    background: #fbfbfb;
    color: #ffffff;
}

:host ::ng-deep .p-checkbox-box {
    width: 20px !important;
    height: 20px !important;
}

:host ::ng-deep label input[type=checkbox].checkbox+span:before {
    content: "\a0"
}

:host ::ng-deep label input[type=checkbox].checkbox:checked+span:before {
    content: "\f00c"
}

:host ::ng-deep label input[type=checkbox].checkbox:checked+span {
    font-weight: 700;
}

:host ::ng-deep label input[type=checkbox].checkbox:checked+span:before {
    color: #2E7BCC;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-3:checked+span:before {
    color: #fff;
    border-color: #a90329;
    background: #a90329;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-2+span:before {
    background: 0 0;
    border-color: #c1c1c1;
    box-shadow: none;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-2:checked+span:before {
    content: "\f00c";
    color: #66665e;
    border-color: #4d90fe;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-2,
checked+span {
    font-weight: 500;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-1+span:before {
    color: #333;
    background: #fff;
    text-shadow: none;
    box-shadow: none !important;
    border-width: 1px;
    height: 12px;
    line-height: 13px;
    min-width: 12px;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-1:checked+span:before {
    color: #333;
    border-color: #333;
}

:host ::ng-deep label input[type=checkbox].checkbox.style-1:checked+span {
    font-weight: 300;
}

:host ::ng-deep label:active input[type=checkbox].checkbox+span:before {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .4);
}

:host ::ng-deep label:hover input[type=checkbox].checkbox+span:before {
    color: #2E7BCC;
    border-color: #2E7BCC;
}

:host ::ng-deep label:hover input[type=checkbox].checkbox.style-3+span:before {
    color: #fff;
    border-color: #A90327;
}

:host ::ng-deep label:hover input[type=checkbox].checkbox.style-2+span:before {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .1), 0 1px 0 0 rgba(255, 255, 255, .2);
}

:host ::ng-deep label:hover input[type=checkbox].checkbox.style-2:checked+span:before {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .4);
}

:host ::ng-deep label:hover input[type=checkbox].checkbox.style-1+span:before {
    border-color: #333;
}

:host ::ng-deep label:active input[type=checkbox].checkbox:checked+span:before {
    color: #fff;
    background: #2E7BCC;
    border-color: #2E7BCC;
}

:host ::ng-deep label:active input[type=checkbox].checkbox.style-3:checked+span:before {
    color: #a90329;
    background: #fff;
    border-color: #a90329;
}

:host ::ng-deep label:active input[type=checkbox].checkbox.style-2+span:before,
label:active input[type=checkbox].checkbox.style-2:checked+span:before {
    color: #66665e;
    background: 0 0;
    border-color: #c1c1c1;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .4);
    padding-left: 10px !important;
}

:host ::ng-deep label:active input[type=checkbox].checkbox.style-1:checked+span:before {
    color: #fff;
    background: #333;
    border-color: #333;
    padding-left: 10px !important;
}

:host ::ng-deep label input[type=checkbox][disabled].checkbox+span,
label input[type=checkbox][disabled].checkbox:checked+span,
label:hover input[type=checkbox][disabled].checkbox:checked+span:before {
    color: #A7A7A7;
    cursor: not-allowed;
}

:host ::ng-deep label input[type=checkbox][disabled].checkbox.style-2:checked+span:before,
label input[type=checkbox][disabled].checkbox:checked+span:before {
    content: "\f00c"
}

:host ::ng-deep .checkbox input[type=checkbox].checkbox+span,
.checkbox-inline input[type=checkbox].checkbox+span,
.radio input[type=radio].radiobox+span,
.radiobox-inline input[type=radio].radiobox+span {
    margin-left: -20px;
}

:host ::ng-deep .form-inline .checkbox input[type=checkbox].checkbox+span,
.form-inline .radiobox input[type=radio].radiobox+span {
    margin-left: 0;
}

:host ::ng-deep .form-inline .checkbox,
.form-inline .radiobox {
    padding-left: 0;
}

:host ::ng-deep input[type=checkbox].checkbox+span,
label input[type=radio].radiobox+span {
    vertical-align: middle;
    line-height: 20px;
}

:host ::ng-deep input[type=checkbox].checkbox+span,
input[type=checkbox].checkbox+span:after,
input[type=checkbox].checkbox+span:before,
input[type=radio].radiobox+span,
input[type=radio].radiobox+span:after,
input[type=radio].radiobox+span:before {
    box-sizing: content-box !important;
}

:host ::ng-deep input[type=checkbox].checkbox,
input[type=radio].radiobox {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    width: 18px;
    height: 18px;
}

:host ::ng-deep label input[type=checkbox].checkbox+span,
label input[type=radio].radiobox+span {
    position: relative;
    z-index: 19;
    display: inline-block;
    margin: 0;
    line-height: 17px;
    min-height: 14px;
    min-width: 14px;
    margin-right: 5px;
}

:host ::ng-deep label input[type=checkbox].checkbox+span:hover,
label input[type=radio].radiobox+span:hover {
    cursor: pointer;
}

:host ::ng-deep label input[type=checkbox].checkbox+span:before,
label input[type=radio].radiobox+span:before {
    font-family: FontAwesome;
    font-size: 12px;
    border-radius: 0;
    content: "\a0";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    height: 12px;
    line-height: 12px;
    min-width: 12px;
    margin-right: 5px;
    border: 1px solid #bfbfbf;
    background-color: #f4f4f4;
    font-weight: 400;
    margin-top: -1px;
}

:host ::ng-deep fieldset[disabled] label input[type=checkbox].checkbox+span:hover,
fieldset[disabled] label input[type=radio].radiobox+span:hover {
    cursor: not-allowed;
}

:host ::ng-deep label input[type=checkbox].checkbox+span:before {
    background: 0 0;
    border-color: #888;
    box-shadow: none;
}

:host ::ng-deep label input[type=checkbox].checkbox:checked+span:before {
    content: "\f00c";
    color: #66665e;
    border-color: #1293b8;
}

:host ::ng-deep label input[type=checkbox].checkbox,
checked+span {
    font-weight: 500;
}

:host ::ng-deep label:hover input[type=checkbox].checkbox+span:before {
    border-color: #1293b8;
}

label:hover input[type=checkbox].checkbox:checked+span:before {
    border-color: #888;
}

:host ::ng-deep .checkbox-actif-visible {
    text-align: center;
    border: 1px solid #bfbfbf !important;
    padding-left: 10px !important;
    width: 68px;
}

:host ::ng-deep label.p-checkbox-label.p-checkbox-label-active {
    font-weight: 600;
}


/* ////// drop down select  */

:host ::ng-deep span.ng-tns-c82-6.p-dropdown-label {
    font-size: 12px;
}

:host ::ng-deep .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding: 3px;
    padding-right: 10px;
    color: #000000;
    font-size: 13px;
    font-size: 15px;
    font-family: auto;
}

:host ::ng-deep .dropdown1 {
    font-size: 13px;
}

:host ::ng-deep .p-disabled,
.p-disabled * {
    cursor: default !important;
    pointer-events: none;
    font-size: 13px !important;
}

:host ::ng-deep .NewModalAddOrderNew {
    border-radius: 6px;
    /* width: 1300px; */
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 95% !important;
    height: 90% !important;
    top: 5% !important;
    left: 0% !important;
}

:host ::ng-deep .ModalDetails {
    border-radius: 6px;
    width: 800px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    /* width: 90% !important; */
    height: 300px !important;
    top: 0% !important;
    left: 0% !important;
}

:host ::ng-deep .ModalPassword {
    border-radius: 6px;
    width: 385px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 185px;
    position: fixed;
    top: 50px !important;
    bottom: 100px !important;
}

:host ::ng-deep .p-component-overlay-enter {
    z-index: 600 !important;
}

:host ::ng-deep button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link {
    display: none;
}

:host ::ng-deep button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link {
    display: none;
}

:host ::ng-deep button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link {
    display: none;
}

:host ::ng-deep button.p-ripple.p-element.p-paginator-next.p-paginator-element.p-link {
    display: none;
}

:host ::ng-deep .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c3832276034-6.p-dropdown-panel.p-component.ng-star-inserted {
    top: 0px !important;
}

:host ::ng-deep .p-dropdown:disabled {
    font-size: 13px !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: -0.25rem !important;
    margin-right: 0.25rem !important;
    font-family: auto;
    position: relative;
    z-index: 5000;
}

:host ::ng-deep .p-datatable-scrollable .p-datatable-wrapper {
    position: static;
    overflow: auto;
}

.drop-control {
    display: block !important;
    position: relative !important;
    flex: auto !important;
    min-width: 0 !important;
    width: 180px !important;
    height: 4px !important;
}

.active+.ajax-dropdown {
    animation-name: flipInY;
    animation-duration: .7s;
    animation-fill-mode: both;
}


/* :host ::ng-deep .chkActif {
padding: 0px 20px 0px 345px;
} */

:host ::ng-deep .ChkVisib {
    padding: 0px 5px 0px 0px;
}

:host ::ng-deep i.fa-lg.fa-fw.fa.fa-times.iconRequired {
    color: red;
    font-size: 7px;
    bottom: 3px !important;
    position: relative;
}


/* /////// modal delete  */

:host ::ng-deep .ModalDelete {
    border-radius: 6px;
    width: 625px;
    font-family: auto;
    margin-top: 90px;
}

:host ::ng-deep .save-delete {
    position: relative;
    left: 165px;
    font-size: 15px;
    direction: ltr;
    top: 7px;
    width: 110px;
    height: 30px;
    border: 1px solid #adadad;
}

:host ::ng-deep .btn-cancel-delete {
    position: relative;
    right: 50px !important;
    font-size: 15px;
    direction: ltr;
    top: 7px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}


/* ///// fin modal delete  */


/* report viewerrr */

.pdfobject-container {
    max-width: 100%;
    width: 1300px;
    height: 600px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    margin: 0;
}

:host ::ng-deep .txt-header-modal {
    margin: 0;
    font-family: auto;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    color: black;
    float: left;
}


/* ///// drop down  */

.ligneDuOu {
    display: flex;
    padding: 0px 32px 0px 0px;
}

:host ::ng-deep .p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0
}

:host ::ng-deep .p-dropdown-label {
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    font-family: auto;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #000000;
    padding: 3px;
    padding-right: 10px;
}

:host ::ng-deep .p-dropdown-label-empty {
    overflow: hidden;
    visibility: hidden
}

:host ::ng-deep input.p-dropdown-label {
    cursor: default
}

:host ::ng-deep .p-dropdown .p-dropdown-panel {
    min-width: 100%;
    border: 1px solid gray;
}

:host ::ng-deep .p-dropdown-panel {
    position: absolute;
    top: 0;
    left: 0
}

:host ::ng-deep .p-dropdown-items-wrapper {
    overflow: auto
}

:host ::ng-deep .p-dropdown-item {
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    display: flex;
    height: 40px;
}

:host ::ng-deep .p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #bfbfbf;
    /* transform: translate3d(5px, 35px, 0px)!important; */
}

:host ::ng-deep .p-dropdown-filter {
    width: 100%
}

:host ::ng-deep .p-dropdown-filter-container {
    position: relative
}

:host ::ng-deep .p-dropdown-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem
}

:host ::ng-deep .p-fluid .p-dropdown {
    display: flex
}

:host ::ng-deep .p-fluid .p-dropdown .p-dropdown-label {
    width: 1%
}


/* ///// tabel modal add */

.tab {
    padding: 5px 5px 30px 5px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    margin: 5px 0px 0px 0px;
}

:host ::ng-deep .p-button.p-button-item,
.p-buttonset.p-button-item>.p-button,
.p-splitbutton.p-button-item>.p-button {
    color: #EF4444;
    background: #ffffff;
    border: 1px solid #ffffff;
    position: relative;
    /* right: 5px !important; */
    text-align: center;
    height: 25px;
}

:host ::ng-deep .Details-Modal {
    color: #007610 !important;
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    position: relative !important;
    right: 0px !important;
    text-align: center !important;
    height: 15px !important;
}

.modal-container {
    position: relative;
    zoom: 1;
    /* Disable zooming within the modal container */
}

:host ::ng-deep .Add-row {
    color: #007610 !important;
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    position: relative !important;
    right: 0px !important;
    text-align: center !important;
    height: 15px !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #005f979e !important;
    color: #ffffff;
}

:host ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th,
.p-datatable-scrollable .p-datatable-tbody>tr>td,
.p-datatable-scrollable .p-datatable-tfoot>tr>td {
    display: flex;
    flex: none !important;
    align-items: center;
}

:host ::ng-deep td {
    flex: none !important;
}

:host ::ng-deep .p-inputtext:enabled:hover {
    border-color: #3B82F6;
    /* height: 30px !important; */
    /* font-size: 13px; */
}

.DropChoisie {
    border: 1px solid #e2e2e2;
    margin: 0px -6px 2px -5px !important;
    padding: 0px 0px 0px 0px;
    height: 25px;
    width: 150px;
}

.DropChoisieEtat {
    border: 1px solid #e2e2e2;
    margin: 0px -6px 2px -5px !important;
    padding: 0px 0px 0px 0px;
    height: 25px;
    width: 50px;
}

.DropChoisie:disabled {
    border: 1px solid #ff0000;
    margin: 0px -6px 2px -5px !important;
    padding: 0px 0px 0px 0px;
    height: 25px;
    width: 150px;
}

.DropChoisie:hover,
.DropChoisie:focus {
    border: 1px solid #398fc1;
    margin: 0px -6px 2px -5px !important;
    padding: 0px 0px 0px 0px;
    height: 25px;
    width: 150px;
}

.DropDownItems {
    border-radius: 6px !important;
    border: 1px solid gray !important;
    /* background-color: rgb(141, 141, 141); */
    text-decoration: overline !important;
}

.InputQte {
    width: 90px;
    margin: 0px 0px 3px -6px;
    height: 24px;
    border: 1px solid #e2e2e2;
}

legend {
    display: block;
    width: 20% !important;
    padding: 0px 0px 0px 5px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 0px !important;
}

.dropbtn {
    font-size: 14px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
}

.p-dialog-header.ng-tns-c2656225073-7.ng-star-inserted {
    flex: 12;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

:host ::ng-deep .p-datatable .p-datatable-tfoot>tr>td {
    text-align: right;
    padding: 2px;
    border: 1px solid #dee2e6;
    font-weight: 400;
    color: #343a40;
    background: #f8f9fa;
    border-radius: 6px;
    width: 150px !important;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #ffffff;
    /* background: #963bf6; */
    background: cadetblue;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #ffffff;
    /* background: #963bf6; */
    background: cadetblue;
    color: #ffffff;
}

:host ::ng-deep .p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(1.0, 1.0);
    visibility: visible;
    background: cadetblue;
}


/* :host ::ng-deep .p-contextmenu.p-component {
width: 170px;
} */

:host ::ng-deep span.p-menuitem-text.ng-star-inserted {
    font-size: 13px;
}


/* "url('assets/assets/images/etat_RCPPartiel.png')"; */

:host ::ng-deep li.p-ripple.p-element.p-multiselect-item {
    font-size: 13px !important;
}

.p-card.p-element {
    margin: 12px 26px 26px 20px !important;
    position: fixed !important;
}

.p-paginator .p-dropdown .p-dropdown-label {
    padding: 3px 5px 5px 10px;
}

:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    /* color: #ffffff; */
    font-size: 14px;
}

:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
    /* color: #ffffff; */
    margin-left: 0.5rem;
    font-size: 12px;
}

:host ::ng-deep .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #404040;
}

:host ::ng-deep .p-datatable {
    scrollbar-color: #324960 white;
}

label.header_name {
    font-size: 15px;
}

.Bouton-Select {
    margin-right: 5px;
    display: flex;
    height: 30px;
    width: 105px;
    padding: 3px 7px 0px 5px;
    margin-bottom: 3px;
    border: 1px solid #adadad;
}

.spinner {
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    /* z-index: 999999; */
}

.ReadOnly {
    cursor: not-allowed;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*******************\ Loading Roller \*******************/

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-roller {
    position: relative;
    display: inline-block;
    height: 64px;
    width: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    position: absolute;
    display: block;
    background: #00539f;
    border-radius: 50%;
    content: " ";
    margin: -3px 0 0 -3px;
    height: 6px;
    width: 6px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: right;
    }
}

:host ::ng-deep span.p-paginator-pages.ng-star-inserted {
    position: static;
    margin-right: auto;
}

i.fa-solid.fa-print.print-icon {
    font-size: 17px;
    padding-right: 5px;
    margin: -3px 5px 0px 0px;
}

i.fa-solid.fa-trash-can.delete-icon {
    color: rgb(255, 51, 0);
    font-size: 17px;
    padding-right: 5px;
    margin: 2px 5px 0px 0px;
}

i.fa-regular.fa-floppy-disk.ApprouveIcon {
    font-size: 18px;
    padding-right: 10px;
    margin: 2px 2px 0px 0px;
    color: green;
}

.FooterTable {
    font-family: auto;
    border-radius: 3px;
    font-size: 13px !important;
    font-weight: bold !important;
}

input.p-column-filter {
    width: 114%;
    margin-top: 6px;
    margin-right: -10px;
    border-radius: 0px;
    /* margin-bottom: 0px; */
    border: 1px solid #cdcdcd;
    margin-left: -22px;
}

.icon_add {
    color: #008000b5 !important;
    font-size: 20px;
    padding-top: 5px;
}

.print-icon {
    color: #071aab !important;
    font-size: 20px !important;
    padding-top: 5px;
}

.add-icon {
    color: green;
    font-weight: bold;
    padding: 0px 0px 0px 2px;
    font-size: 18px;
    margin: 0px 10px 0px 0px;
}

.modif-icon {
    color: rgb(6 57 135);
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    overflow: hidden;
    font-size: 18px;
    padding-top: 2px;
    margin: 0px 10px 0px 0px;
}

.iconAvance {
    color: #b97000;
    font-size: 19px;
    padding: 5px 0px 0px 5px;
}

.iconADD2 {
    color: #0f9700;
    /* font-size: 20px; */
    padding: 0;
    margin: 0px 0px 5px 0px !important;
}

.iconModif {
    color: #0600ff87 !important;
    padding: 0;
    margin: 0px 0px -7px 0px;
    font-size: 23px;
}

:host ::ng-deep .IconDel {
    color: rgb(183 1 1 / 65%) !important;
    padding: 0;
    margin: 0px 0px -7px 0px;
    font-size: 23px;
}

.approuve_icon {
    color: #30c755 !important;
    font-size: 20px !important;
    padding-top: 5px;
}

.disabled-checkbox {
    background-color: transparent;
    /* Remove the gray background */
    cursor: pointer;
    /* Change the cursor to a default one */
}

.disabled-checkbox::before {
    /* Pseudo-element for unchecked state */
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    /* border: 2px solid #ccc;   */
    border-radius: 3px;
    /* margin-right: 5px;  */
}

.disabled-checkbox::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg) translate(3px, 1px);
    position: relative;
    top: -14px;
    left: -6px;
}

.disabled-checkbox:checked::before {
    background-color: #767676;
    /* Checkmark color */
    border-color: #767676;
    /* Checkmark color */
}

.DisCursore {
    cursor: default !important;
}

:host ::ng-deep .div-panel {
    font-family: auto;
}


/* /// Matmenu */

.div-panel {
    /* Basic styles for the menu */
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    /* Optional: Adjust width */
    width: 200px;
    /* Optional: Additional styling */
    font-family: auto;
    color: #333;
}

.div-panel button {
    /* Styles for menu items */
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

.div-panel button:hover {
    background-color: #f5f5f5;
}

.div-panel mat-icon {
    /* Styles for icons */
    margin-right: 8px;
    vertical-align: middle;
}

:host ::ng-deep .p-skeleton.p-component {
    margin-top: 7px;
    margin-right: -10px;
}

.eyePassword {
    position: absolute;
    top: 16px;
    right: 152px;
    font-size: 17px;
}

.DateDebut {
    width: 32%;
    padding-top: 0px;
    margin-right: 10px;
}

.DateFin {
    width: 32%;
    padding-top: 0px;
    margin-right: 10px;
}

:host ::ng-deep i.fa-lg.fa-fw.fa.fa-times.icon-required {
    color: red;
    font-size: 7px;
    bottom: 3px !important;
    position: relative;
}

.flex-1 {
    flex: 1;
    width: 8.33%;
    text-align: right;
}

.flex-2 {
    flex: 2;
    text-align: -webkit-auto;
    max-width: 16.67%;
}

.flex-60 {
    text-align: right;
    max-width: 60%;
}

.flex-20 {
    text-align: right;
    max-width: 20%;
}

.flex-25 {
    text-align: right;
    max-width: 25%;
}

.flex-3 {
    flex: 3;
    max-width: 25%;
    text-align: right;
}

.flex-30 {
    flex: 30;
    max-width: 30%;
    text-align: right;
}

.flex-4 {
    flex: 4;
    max-width: 33.33%;
    text-align: right;
}

.flex-35 {
    flex: 35;
    max-width: 35.33%;
    text-align: right;
}

.flex-4-38 {
    flex: 4;
    max-width: 38.33%;
    text-align: right;
}

.flex-5 {
    flex: 5;
    max-width: 41.67%;
    text-align: right;
}

.flex-5-45 {
    flex: 5;
    max-width: 45.67%;
    text-align: right;
}

.flex-6 {
    flex: 6;
    max-width: 50%;
    padding: 3px 4px 10px;
    text-align: -webkit-auto;
}

.flex-6-6 {
    flex: 6;
    max-width: 50%;
    padding: 3px 4px 2px;
    text-align: right;
    display: flex;
}

.flex-7 {
    flex: 7;
    text-align: right;
    max-width: 53.33%;
}

.flex-7-7 {
    flex: 7;
    text-align: right;
    max-width: 53.33%;
    padding-right: 20px;
    display: flex;
}

.flex-8 {
    flex: 8;
    max-width: 66.67%;
    text-align: right;
    /* margin-left: 10px;
margin-top: 2px; */
}

.flex-64 {
    flex: 8;
    max-width: 64%;
    text-align: right;
}

.flex-9 {
    flex: 9;
    max-width: 75%;
    text-align: right;
}

.flex-10 {
    flex: 10;
    max-width: 83.33%;
    text-align: right;
}

.flex-11 {
    flex: 11;
    max-width: 91.67%;
    text-align: right;
}

.flex-12 {
    flex: 12;
    max-width: 100%;
    text-align: right;
}

.flex-28 {
    flex: 2;
    max-width: 28%;
    text-align: right;
}

.btn-default:focus,
.btn-default:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}

.Bouton_new3:focus,
.Bouton_new3:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}

.FloatRight {
    float: right;
    margin-top: 2px;
}

.FloatLeft {
    float: left;
    margin-top: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.invalid-input {
    border: 1px solid red !important;
}

.bold-label {
    font-weight: bold;
}

.mntPayed {
    padding-right: 22px;
}

.dateInput {
    width: 200px;
    border: 1px solid #c3cbd9;
    border-radius: 6px;
    font-size: 15px;
    margin: 5px;
    padding-left: 8px;
    text-align-last: center;
}

:host ::ng-deep input#icondisplay {
    justify-items: center;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 45px;
}

.radio-item {
    display: flex;
    align-items: center;
    /* Align label and radio button */
    gap: 5px;
    cursor: pointer;
    /* Space between radio button and label */
}

.radio-item label {
    margin-bottom: 0;
    cursor: pointer;
    /*added*/
}

label.bold-label {
    font-weight: bold;
}

.flexLeft {
    border-left: 1px solid #c3cbd9;
}

input#Cash {
    cursor: pointer;
}

input#PEC {
    cursor: pointer;
}

:host ::ng-deep .ModalAdd {
    border-radius: 6px;
    width: 800px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    top: 10%;
}


/* :host ::ng-deep .ModalAdd {
    border-radius: 6px;
    width: 800px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
} */

:host ::ng-deep .ModalAddLarge {
    border-radius: 6px;
    width: 1220px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    margin-top: 90px;
}

.cancel-add-ModalLarge {
    position: fixed;
    right: 1110px;
    font-size: 13px;
    direction: ltr;
    /* height: 30px; */
    border: 1px solid #adadad;
    /* width: 90px; */
    font-weight: bold;
}

.cancel-add-ModalLarge:hover {
    background-color: #A90327 !important;
    color: white !important;
}

.cancel-add-ModalLarge:hover .IconBtnModal {
    color: white !important;
}

.save-add-ModalLarge {
    position: fixed;
    right: 1020px;
    font-size: 13px;
    direction: ltr;
    /* height: 30px; */
    border: 1px solid #adadad;
    /* width: 90px; */
    font-weight: bold;
}

.save-add-ModalLarge:hover {
    background-color: darkgreen !important;
    color: white !important;
}

.save-add-ModalLarge:hover .IconBtnModal {
    color: white !important;
}

.PaddingRight {
    padding-right: 100px;
}

:host ::ng-deep .p-dialog-mask {
    align-items: baseline !important;
}

.p-paginator .p-dropdown {
    display: none !important;
}

.TabInput {
    background: white;
    border: 1px solid #a9a9a963;
    border-radius: 6px;
    width: 130px;
    margin-left: 10px;
}

:host ::ng-deep .pi-file-excel:before {
    content: "\e98e";
    color: #b90000;
}

:host ::ng-deep .pi-file-check:before {
    content: "\ea1b";
    color: #039903;
}

:host ::ng-deep .pi-file:before {
    content: "\e958";
    color: #0070ff;
}

.ModalAddFacture {
    margin-top: 10px;
}

.btnAddToPlanning {
    padding-right: 22px;
}

.btnAddStyel {
    /* background-color: green; */
    border: 1px solid #aeb4b9;
    border-radius: 6px;
    font-weight: bold;
    width: 40px;
    background-color: #f8f9fa;
}

.btnAddStyel:hover {
    background-color: green;
    color: white;
}

.btn-modif-PEC-Cash {
    border: 1px solid gray;
    border-radius: 6px;
}

.btn-modif-PEC-Cash:hover {
    background-color: #00539f;
    color: white;
}

.ModalPassword {
    border-radius: 6px;
    width: 400px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
    position: fixed;
    top: 50px !important;
    bottom: 100px !important;
}


/* input:disabled {
    color: #000;
} */

input[type="radio"]:disabled {
    color: black;
    /* Change the color to black */
    cursor: default;
    /* Optional: change cursor to indicate it's disabled */
}


/* More specific selector if needed (replace .radio-item with your actual class) */

.radio-item input[type="radio"]:disabled {
    color: black;
}

:host ::ng-deep .ModalAddRequest {
    border-radius: 6px;
    width: 850px;
    font-family: auto;
    margin-top: 20px;
}

.file-upload-button {
    border: 1px solid gray;
}

.p-button.p-button-item-eye {
    color: #306898;
    background: #ffffff;
    border: 1px solid #ffffff;
    position: relative;
    text-align: center;
    height: 25px;
}