body {
    display: grid;
    grid-template-areas: "header header header" "nav section aside" "footer footer footer";
    grid-template-rows: 45px 1fr 0px;
    grid-template-columns: 0% 1fr 105px;
}

header {
    background: #f5f5f5;
    grid-area: header;
}

nav {
    /* background: #fbfbfb2e; */
    grid-area: nav;
}

section {
    /* background: #dfdddd17; */
    grid-area: section;
}

aside {
    /* background: #f5f5f5; */
    grid-area: aside;
}

header,
nav,
section,
aside,
footer {
    padding: 5px;
}

:host ::ng-deep .p-dropdown-clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
    right: 160px !important;
}

:host ::ng-deep .ModalPassword {
    position: fixed;
    top: 100px !important;
}

:host ::ng-deep .ModalAvanceFrs {
    border-radius: 6px;
    width: 1251px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 385px;
}

:host ::ng-deep .ModalApprouveAvanceFrs {
    border-radius: 6px;
    width: 1251px;
    font-family: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 460px;
}


/* ::ng-deep .p-datatable-gridlines .p-datatable-tbody>tr>td {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--p-table-border-color, var(--surface-d));
} */

.mt-4 {
    margin-top: 1rem;
    /* Adjust spacing between tables as needed */
}

.bordered-table {
    border: 1px solid black;
    /* Example: solid black border */
}