.demo-chart {
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
}

.demo-chart33 {
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
}

.demo-chartComplex {
    width: 100%;
    height: 600px;
    /* Adjust height as needed */
}