.demo-chart {
    width: 100%;
    height: 300px;
    /* Adjust height as needed */
}

.name-card {
    font-weight: bold;
}

.logo1 {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 150px;
    background-size: cover;
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Santipur_B.Ed_College_Logo.png'); */
    float: left;
}